<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93687085466-hg60djiv4in4b0bmh47toajfsmor775v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93687085466-hg60djiv4in4b0bmh47toajfsmor775v</string>
	<key>API_KEY</key>
	<string>AIzaSyBQDsXgX_LEh9v6UcXYqa77mvZoWHtgEnA</string>
	<key>GCM_SENDER_ID</key>
	<string>93687085466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.eshop</string>
	<key>PROJECT_ID</key>
	<string>eshop-e2b43</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-e2b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93687085466:ios:b25f5e03a0a80b0b50a223</string>
</dict>
</plist>